<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Wallace Stevens Society</title>
	<% @page_title="Wallace Stevens Society" %>
	<!--<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/style.css"> -->
	<%= stylesheet_link_tag('normalize', :media =>'all') %>
	<%= stylesheet_link_tag('about', :media =>'all') %>
	<%= stylesheet_link_tag('owl.carousel.css', :media => 'all') %>
	<%= stylesheet_link_tag('owl.theme.css', :media => 'all') %>
	<link href='https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
</head>
<body>
	<header>
		<div class="container">
			<div class="logo"><%= link_to image_tag('logo.png'), 'index' %></div>
				<nav>
				  <ul>
				    <li>
				      <a href="	about">About</a>
				      <ul class="fallback">
				        <li><a href="about">About Wallace Stevens</a></li>
				        <li><a href="aboutwss">The Wallace Stevens Society</a></li>
				        <li><a href="upcomingevents">Upcoming Events	</a></li>
				      </ul>
				    </li>
				    <li>
				      <a href="https://www.press.jhu.edu/journals/wallace_stevens_journal/">Journal</a>
				      <ul class="fallback">
				        <li><a href='callforpapers'>Call for Papers</a></li>
				        <li><a href="listingofpapers">Listing of Articles</a></li>
				      </ul>
				    </li>
				    <li><a href="resources">Resources</a></li>
				    <li><a href="poems">Online Concordance</a></li>
				  </ul>
				</nav>
		</div>
	</header>
<div class="maintext">
<div class="biopic"><%= image_tag('wallace_stevens_bio.jpg') %></div>
<div class="abouttext">
	<div class="heading"><h3>ABOUT</h3><h1>WALLACE STEVENS</h1></div>

	<p>Wallace Stevens was born in Reading, Pennsylvania, on October 2, 1879. He attended Harvard University as an undergraduate from 1897 to 1900. He planned to travel to Paris as a writer, but after working briefly as a reporter for the New York Herald Times, he decided to study law. He graduated with a degree from New York Law School in 1903 and was admitted to the U.S. Bar in 1904. He practiced law in New York City until 1916.</p>

	<p>Though he had serious determination to become a successful lawyer, Stevens had several friends among the New York writers and painters in Greenwich Village, including the poets William Carlos Williams, Marianne Moore, and E. E. Cummings.</p>

	<p>In 1914, under the pseudonym “Peter Parasol," he sent a group of poems under the title “Phases” to Harriet Monroe for a war poem competition for Poetry magazine. Stevens did not win the prize, but was published by Monroe in November of that year.</p>

	<p>Stevens moved to Connecticut in 1916, having found employment at the Hartford Accident and Indemnity Co., of which he became vice president in 1934. He had begun to establish an identity for himself outside the world of law and business, however, and his first book of poems, Harmonium, published in 1923, exhibited the influence of both the English Romantics and the French symbolists, an inclination to aesthetic philosophy, and a wholly original style and sensibility: exotic, whimsical, infused with the light and color of an Impressionist painting.</p>

	<p>For the next several years, Stevens focused on his business life. He began to publish new poems in 1930, however, and in the following year, Knopf published a second edition of Harmonium, which included fourteen new poems and left out three of the decidedly weaker ones.</p>

	<p>More than any other modern poet, Stevens was concerned with the transformative power of the imagination. Composing poems on his way to and from the office and in the evenings, Stevens continued to spend his days behind a desk at the office, and led a quiet, uneventful life.</p>

	<p>Though now considered one of the major American poets of the century, he did not receive widespread recognition until the publication of his Collected Poems, just a year before his death. His major works include Ideas of Order (1935), The Man With the Blue Guitar (1937), Notes Towards a Supreme Fiction (1942), and a collection of essays on poetry, The Necessary Angel (1951).</p>

	<p>Stevens died in Hartford on August 2, 1955.</p>
	<p>Wallace Stevens had one child, a daughter named Holly, in 1924.  Holly Stevens devoted much of her career to writing about and editing the work of her father.  Ms. Stevens's edition of "The Letters of Wallace Stevens" appeared in 1966. Her selection of work from her father's journals appeared in a 1977 book called "Souvenirs and Prophecies."  Holly Stevens died in 1992, of lung cancer.</p>
	<p>From <em>The American Academy of Poets</em></p></div>



</div>


<%= javascript_include_tag('jquery-1.11.3.min') %>
<%= javascript_include_tag("public")%>
<%= javascript_include_tag("index")%>
<%= javascript_include_tag("owl.carousel.js") %>
</body>
</html>
<body>