<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Wallace Stevens Society</title>
	<% @page_title="Wallace Stevens Society" %>
	<!--<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/style.css"> -->
	<%= stylesheet_link_tag('normalize', :media =>'all') %>
	<%= stylesheet_link_tag('about', :media =>'all') %>
	<%= stylesheet_link_tag('owl.carousel.css', :media => 'all') %>
	<%= stylesheet_link_tag('owl.theme.css', :media => 'all') %>
	<link href='https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
</head>
<body>
	<header>
		<div class="container">
			<div class="logo"><%= link_to image_tag('logo.png'), 'index' %></div>
			<nav>
				  <ul>
				    <li>
				      <a href="	about">About</a>
				      <ul class="fallback">
				        <li><a href="about">About Wallace Stevens</a></li>
				        <li><a href="aboutwss">The Wallace Stevens Society</a></li>
				        <li><a href="upcomingevents">Upcoming Events	</a></li>
				      </ul>
				    </li>
				    <li>
				      <a href="https://www.press.jhu.edu/journals/wallace_stevens_journal/">Journal</a>
				      <ul class="fallback">
				        <li><a href='callforpapers'>Call for Papers</a></li>
				        <li><a href="listingofpapers">Listing of Articles</a></li>
				      </ul>
				    </li>
				    <li><a href="resources">Resources</a></li>
				    <li><a href="poems">Online Concordance</a></li>
				  </ul>
				</nav>
		</div>
	</header>
<div class="maintext">
<div class="biopic"><%= image_tag('wallace_stevens_bio_2.jpg') %></div>
<div class="abouttext">
	<div class="heading"><h3>ABOUT</h3><h1>THE WALLACE STEVENS SOCIETY</h1></div>

	<p>The Wallace Stevens Society is devoted to the study and promotion of Wallace Stevens's writings and poetry.  We are the sponsor of <em>The Wallace Stevens Journal</em>, which has been has been publishing scholarly articles, poems, book reviews, news, and bibliographies since 1977.  The society also frequently sponsers panels discussing Stevens's work.  All are welcome to join </p>


</div>


<%= javascript_include_tag('jquery-1.11.3.min') %>
<%= javascript_include_tag("public")%>
<%= javascript_include_tag("index")%>
<%= javascript_include_tag("owl.carousel.js") %>
</body>
</html>
<body>