<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Wallace Stevens Society</title>
  <% @page_title="Wallace Stevens Society" %>
  <!--<link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/style.css"> -->
  <%= stylesheet_link_tag('normalize', :media =>'all') %>
  <%= stylesheet_link_tag('index_poem', :media =>'all') %>
  <%= stylesheet_link_tag('owl.carousel.css', :media => 'all') %>
  <%= stylesheet_link_tag('owl.theme.css', :media => 'all') %>
  <link href='https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
</head>
<body>
  <header>
    <div class="container">
      <div class="logo"><%= link_to image_tag('logo.png'), root_path %></div>
      <nav>
          <ul>
            <li>
              <a href=" about">About</a>
              <ul class="fallback">
                <li><a href="about">About Wallace Stevens</a></li>
                <li><a href="aboutwss">The Wallace Stevens Society</a></li>
                <li><a href="upcomingevents">Upcoming Events  </a></li>
              </ul>
            </li>
            <li>
              <a href="https://www.press.jhu.edu/journals/wallace_stevens_journal/">Journal</a>
              <ul class="fallback">
                <li><a href='callforpapers'>Call for Papers</a></li>
                <li><a href="listingofpapers">Listing of Articles</a></li>
              </ul>
            </li>
            <li><a href="resources">Resources</a></li>
            <li><a href="poems">Online Concordance</a></li>
          </ul>
        </nav>
    </div>
  </header>
<div class="maintext">
        <div class="heading"><h1>CALL FOR PAPERS</h1></div>
        <div class="heading"><h3>Teaching Wallace Stevens (Special Issue of The Wallace Stevens Journal)</h3></div>
        <div class="heading"><h3 style="color:red">**DEADLINE EXTENDED**</h3></div>
        <div class="maintext-p"><p>
          Over twenty years have passed since John N. Serio and B. J. Leggett published their collection, Teaching Wallace Stevens (1994). Since then the teaching landscape has been undergoing significant change. Are there new challenges and opportunities for teaching Stevens in the twenty-first century, with the growing diversity of our student populations, shifting job possibilities (or lack of them), the increasing marginalization of the humanities and of poetry in particular? In this era of globalization, what success have you had teaching Stevens to speakers of other languages and readers from different cultures?</p>
          <br>
          <h4>Deadline:</h4>
          <p>One-page proposals by March 15, 2016 to glen.macleod@uconn.edu.  If your proposal is accepted, you will be asked to expand it into a full-length essay by September 1, 2016.
        </p>
        </div>
</div>


<%= javascript_include_tag("public")%>
<%= javascript_include_tag("index")%>
<%= javascript_include_tag("owl.carousel.js") %>
</body>
</html>
<body>
