<head>

</head>
<body><%= stylesheet_link_tag('index', :media =>'all') %>
<% @page_title="Index" %>
<p>The time is now <%= Time.now %> </p>
<p>test!!</p>
<p>Martha</p>

<%= image_tag('wallace_stevens_main.jpg') %>

<a href="/welcome/hello">Hello Page</a> <br> |
<%= link_to('Hello page 2', {:action => 'hello'}) %> <br>

<%= link_to('Hello with paramenters', {:action => 'hello', :page => 5, :id => 20}) %> <br>

<%= link_to('Roar', "#", :onclick => "jsRoar(); return: true") %>
<%= javascript_tag("jsRoar();") %>
</body>

