<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Wallace Stevens Society</title>
	<% @page_title="Wallace Stevens Society" %>
	<!--<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/style.css"> -->
	<%= stylesheet_link_tag('normalize', :media =>'all') %>
	<%= stylesheet_link_tag('index', :media =>'all') %>
	<%= stylesheet_link_tag('owl.carousel.css', :media => 'all') %>
	<%= stylesheet_link_tag('owl.theme.css', :media => 'all') %>
	<%= stylesheet_link_tag('animate.css', :media => 'all') %>
	<link href='https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
</head>
<body>
	<header>
		<div class="container">
			<div class="logo"><%= image_tag('logo.png') %></div>
				<nav>
				  <ul>
				    <li>
				      <a href="	about">About</a>
				      <ul class="fallback">
				        <li><a href="about">About Wallace Stevens</a></li>
				        <li><a href="aboutwss">The Wallace Stevens Society</a></li>
				        <li><a href="upcomingevents">Upcoming Events	</a></li>
				      </ul>
				    </li>
				    <li>
				      <a href="https://www.press.jhu.edu/journals/wallace_stevens_journal/">Journal</a>
				      <ul class="fallback">
				        <li><a href='callforpapers'>Call for Papers</a></li>
				        <li><a href="listingofpapers">Listing of Articles</a></li>
				      </ul>
				    </li>
				    <li><a href="resources">Resources</a></li>
				    <li><a href="poems">Online Concordance</a></li>
				  </ul>
				</nav>

		</div>
	</header>

  <div class="carholder">
  <div class="wrapper-with-margin">
  <div id="owl-main" class="owl-carousel owl-theme">

	   	<div class="item">
	     	<%= link_to image_tag('wallace_stevens_about.png'),'about'%>
	    </div>
	    <div class="item">
	      	<%= link_to image_tag('conc.png'), 'poems' %>
	    </div>
	    <div class="item">
	      	<%= link_to image_tag('quotegenerator.png'), 'quotegenerator' %>
	    </div>
	    <div class="item">
	     	<%= link_to image_tag('journalstack.png'),'callforpapers'%>
	    </div>

	    <div class="item">
	      	<%= link_to image_tag('upcomingevents.png'), 'upcomingevents' %>
	    </div>
 </div>
 </div>
</div>
<!--     <li><%= image_tag('wallace_stevens_main.png')%></li>
    <li><%= image_tag('test.png')%></li> -->
 


<%= javascript_include_tag('jquery-1.11.3.min') %>
<%= javascript_include_tag("public")%>
<%= javascript_include_tag("index")%>
<%= javascript_include_tag("owl.carousel.js") %>
</body>
</html>
<body>
