<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Wallace Stevens Society</title>
  <% @page_title="Wallace Stevens Society" %>
  <!--<link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/style.css"> -->
  <%= stylesheet_link_tag('normalize', :media =>'all') %>
  <%= stylesheet_link_tag('index_poem', :media =>'all') %>
  <%= stylesheet_link_tag('owl.carousel.css', :media => 'all') %>
  <%= stylesheet_link_tag('owl.theme.css', :media => 'all') %>
  <link href='https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
</head>
<body>
  <header>
    <div class="container">
      <div class="logo"><%= link_to image_tag('logo.png'), root_path %></div>
      <nav>
          <ul>
            <li>
              <a href=" about">About</a>
              <ul class="fallback">
                <li><a href="about">About Wallace Stevens</a></li>
                <li><a href="aboutwss">The Wallace Stevens Society</a></li>
                <li><a href="upcomingevents">Upcoming Events  </a></li>
              </ul>
            </li>
            <li>
              <a href="https://www.press.jhu.edu/journals/wallace_stevens_journal/">Journal</a>
              <ul class="fallback">
                <li><a href='callforpapers'>Call for Papers</a></li>
                <li><a href="listingofpapers">Listing of Articles</a></li>
              </ul>
            </li>
            <li><a href="resources">Resources</a></li>
            <li><a href="poems">Online Concordance</a></li>
          </ul>
        </nav>

    </div>
  </header>
<div class="maintext">
        <div class="heading"><h3>THE WALLACE STEVENS JOURNAL</h3><h1>LISTING OF ARTICLES</h1></div>
        <table>
          <tr class="form-row">
            <thead>
            <th class="ltitle">Title</th>
            <th class="lauthor">Author</th>
            <th class="ljournal">Journal Published</th>
            </thead>
          </tr>
          <tr class="form-row">
            <td class="ltitle">A Prefatory Note on Whitman, Stevens, and the Poetics of Americana</td>
            <td class="lauthor">Tyler Hoffman</td>
            <td class="ljournal">Spring 2016</td>
          </tr>
          <tr class="form-row">
            <td class="ltitle">Between Surface and Influence: Stevens, Whitman, and the Problem of Mediation</td>
            <td class="lauthor">Patrick Redding</td>
            <td class="ljournal">Spring 2016</td>
          </tr>
          <tr class="form-row">
            <td class="ltitle">Whitman and Stevens: No Supreme Fiction</td>
            <td class="lauthor">Matt Miller</td>
            <td class="ljournal">Spring 2016</td>
          </tr>
          <tr class="form-row">
            <td class="ltitle">“Bergamo on a Postcard”; or, A Critical History of Cognitive Poetics</td>
            <td class="lauthor">Nicholas Myklebust</td>
            <td class="ljournal">Fall 2015</td>
          </tr>
          <tr class="form-row">
            <td class="ltitle">Aesthetics and Impossible Embodiment: Stevens, Imagery, and Disorientation</td>
            <td class="lauthor">G. Gabrielle Starr</td>
            <td class="ljournal">Fall 2015</td>
          </tr>
          <tr class="form-row">
            <td class="ltitle">“The Eye’s Plain Version”: Visual Anatomy and Theories of Perception in Stevens</td>
            <td class="lauthor">Deric Corlew</td>
            <td class="ljournal">Fall 2015</td>
          </tr>
                    <tr class="form-row">
            <td class="ltitle">“Bergamo on a Postcard”; or, A Critical History of Cognitive Poetics</td>
            <td class="lauthor">John W. Steen</td>
            <td class="ljournal">Spring 2015</td>
          </tr>
          <tr class="form-row">
            <td class="ltitle">“These Immeasurable Mysteries”: Rites of Passage in Stevens and Cummings</td>
            <td class="lauthor">Megan Milota</td>
            <td class="ljournal">Spring 2015</td>
          </tr>

        </table>
</div>


<%= javascript_include_tag("public")%>
<%= javascript_include_tag("index")%>
<%= javascript_include_tag("owl.carousel.js") %>
</body>
</html>
<body>
