<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Wallace Stevens Society</title>
	<% @page_title="Wallace Stevens Society" %>
	<!--<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/style.css"> -->
	<%= stylesheet_link_tag('normalize', :media =>'all') %>
	<%= stylesheet_link_tag('quotegenerator', :media =>'all') %>
	<%= stylesheet_link_tag('owl.carousel.css', :media => 'all') %>
	<%= stylesheet_link_tag('owl.theme.css', :media => 'all') %>
	<link href='https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
</head>
<body>
	<header>
		<div class="container">
			<div class="logo"><%= link_to image_tag('logo.png'), 'index' %></div>
			<nav>
				  <ul>
				    <li>
				      <a href="	about">About</a>
				      <ul class="fallback">
				        <li><a href="about">About Wallace Stevens</a></li>
				        <li><a href="aboutwss">The Wallace Stevens Society</a></li>
				        <li><a href="upcomingevents">Upcoming Events	</a></li>
				      </ul>
				    </li>
				    <li>
				      <a href="https://www.press.jhu.edu/journals/wallace_stevens_journal/">Journal</a>
				      <ul class="fallback">
				        <li><a href='callforpapers'>Call for Papers</a></li>
				        <li><a href="listingofpapers">Listing of Articles</a></li>
				      </ul>
				    </li>
				    <li><a href="resources">Resources</a></li>
				    <li><a href="poems">Online Concordance</a></li>
				  </ul>
				</nav>
		</div>
	</header>
<div class="maintext">
	<div class="heading"><h3>THE WALLACE STEVENS</h3><h1>QUOTE GENERATOR</h1></div>
<form>
	<div class="formtable">
	<table>
	<tr id="selectors" class="form-row">
		<td><label for="topic">Topic:</label></td>
		<td><div class="dropdown"><select id="topic"><option value=0>Choose One</option>
		<option value=1>Age</option>
		<option value=2>Beauty</option>
		<option value=3>Imagination</option>
		<option value=4>Love</option>
		<option value=5>Nature</option>
		<option value=6>Poetry</option>
		<option value=17>Self</option>
		<option value=19>Meditative</option>
		<option value=21>Society</option>
		<option value=23>Thought</option>
	</select></div></td>


		<td><label for="mood">Tone:</label></td>
		<td><div class="dropdown"><select id="mood"><option value=0>Choose One</option>
			<option value=101>Humorous</option>
			<option value=102>Dark</option>
			<option value=103>Whimsical</option>
			<option value=104>Critical</option>
			<option value=105>Hopeful</option>
			<option value=106>Spiritual</option>
			<option value=107>Sentimental</option>
			<option value=108>Inspiring</option>
			<option value=109>Serene</option>
			<option value=110>Uppity</option>
		</select></div></td>
		<td id='button-cell'><button id="button">Generate Quote</button></td>		
	</tr>

	  <tr id="quote">
	  </tr>
	  <tr id="source">
	  </tr>

	</table>

	</div>
</form>
</div>


<%= javascript_include_tag('jquery-1.11.3.min') %>
<%= javascript_include_tag("public")%>
<%= javascript_include_tag("quotegenerator")%>
<%= javascript_include_tag("owl.carousel.js") %>


</body>
</html>
<body>