<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Wallace Stevens Society</title>
  <% @page_title="Wallace Stevens Society" %>
  <!--<link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/style.css"> -->
  <%= stylesheet_link_tag('normalize', :media =>'all') %>
  <%= stylesheet_link_tag('index_poem', :media =>'all') %>
  <%= stylesheet_link_tag('owl.carousel.css', :media => 'all') %>
  <%= stylesheet_link_tag('owl.theme.css', :media => 'all') %>
  <link href='https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
</head>
<body>
  <header>
    <div class="container">
      <div class="logo"><%= link_to image_tag('logo.png'), root_path %></div>
      <nav>
          <ul>
            <li>
              <a href=" about">About</a>
              <ul class="fallback">
                <li><a href="about">About Wallace Stevens</a></li>
                <li><a href="aboutwss">The Wallace Stevens Society</a></li>
                <li><a href="upcomingevents">Upcoming Events  </a></li>
              </ul>
            </li>
            <li>
              <a href="https://www.press.jhu.edu/journals/wallace_stevens_journal/">Journal</a>
              <ul class="fallback">
                <li><a href='callforpapers'>Call for Papers</a></li>
                <li><a href="listingofpapers">Listing of Articles</a></li>
              </ul>
            </li>
            <li><a href="resources">Resources</a></li>
            <li><a href="poems">Online Concordance</a></li>
          </ul>
        </nav>

    </div>
  </header>
<div class="maintext">
      <h1>RESOURCES</h1>
      <table>
        <tr class="form-row">
          <td class="resource">
            <h4><a href="https://www.poets.org/">American Academy of Poets</a></h4>
                <p> Information on Stevens's life and a collection of his poetry </p>
          </td>
        </tr>

        <tr class="form-row">
          <td class="resource">
        <h4><a href="http://www.wallacestevensbiography.com/">Wallace Stevens: A Dual Life as Poet and Insurance Executive</a></h4>
                <p>A Biography by Alison Johnson</p>
          </td>
        </tr>

        <tr class="form-row">
          <td class="resource">
        <h4><a href="http://www.stevenspoetry.org/stevensbio.htm">The Hartford Friends of Wallace Stevens</a></h4>
                <p>Non-profit organization formed for the purposes of promoting the literary arts and preserving the cultural legacy of Wallace Stevens in Hartford, Connecticut, and beyond.</p>
          </td>
        </tr>

      </table>


</div>


<%= javascript_include_tag("public")%>
<%= javascript_include_tag("index")%>
<%= javascript_include_tag("owl.carousel.js") %>
</body>
</html>
<body>
